@{
    ViewData["Title"] = "Home";
    bool isAuthorized = ViewBag.IsAuthorized ?? false;
}

<div class="container">
    <div class="jumbotron text-center">
        <h1 class="display-4">Welcome to Our Product Management System</h1>

        @if (!isAuthorized)
        {
            <!-- Content for unauthorized users -->
            <p class="lead">To start managing your store's products, you need to authorize the application.</p>
            <hr class="my-4">
            <p>Click below to authorize the app and link it to your Shopify store.</p>
            <a class="btn btn-primary btn-lg" href="@Url.Action("Authorize", "OAuth")" role="button">Authorize the App</a>
        }
        else
        {
            <!-- Content for authorized users -->
            <p class="lead">You're all set! You can now create and manage products for your online store.</p>
            <hr class="my-4">
            <p>Click below to add a new product to your store.</p>
            <a class="btn btn-primary btn-lg" href="@Url.Action("Create", "Shopify")" role="button">Create Product</a>
        }
    </div>
</div>
